body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
}

p, button, input {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
	margin-bottom:1em;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 2px;
    background-color: #4a4a4a;
    border: 2px solid #333;
}

.cell {
    background-color: #87CEEB;
    border: 1px solid #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #6eb5e0;
}

.cell.hit {
    background-color: red;
    color: white;
    font-weight: bold;
}

.cell.miss {
    background-color: #bbb;
    color: white;
    font-weight: bold;
}
